footer {
  background-color: #111928;
}
p#site-description {
  color: rgba(255, 255, 255, 0.425);
  font-family: "Cairo";
  line-height: 1.6;
}
a.footer-links {
  font-family: "Cairo";
  font-size: 1rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.74);
}
div.copy-right {
  background-color: #202a38;
  p {
    color: rgba(255, 255, 255, 0.63);
    margin: 0;
    font-family: "Cairo";
  }
}
