<footer class="d-flex py-5">
  <div class="container">
    <div class="footer-content d-flex gap-5">
      <div class="col-5">
        <div class="d-flex flex-column gap-3">
          <div class="logo">
            <img src="assets/imgs/betnaAr.png" width="auto" height="80px" />
          </div>
          <div class="description">
            <p id="site-description">
              نوفر لك منصة سهلة الاستخدام تمكنك من العثور على الصنايعي المناسب
              لك بسرعة وسهولة. أعتمد على تقييمات موثوقة وآراء حقيقية من أشخاص
              يعيشون بالقرب منك لضمان الحصول على خدمة عالية الجودة
            </p>
          </div>
          <div class="icons d-flex gap-4">
            <fa-icon [icon]="faYoutube" [ngStyle]="iconStyle"></fa-icon>
            <fa-icon [icon]="faLinkedin" [ngStyle]="iconStyle"></fa-icon>
            <fa-icon [icon]="faXTwitter" [ngStyle]="iconStyle"></fa-icon>
            <fa-icon [icon]="faInstagram" [ngStyle]="iconStyle"></fa-icon>
            <fa-icon [icon]="faWhatsapp" [ngStyle]="iconStyle"></fa-icon>
            <fa-icon [icon]="faSquareFacebook" [ngStyle]="iconStyle"></fa-icon>
          </div>
        </div>
      </div>
      <div
        class="col d-flex flex-column justify-content-center gap-4 align-items-start"
      >
        <a href="#" class="footer-links">الرئيسية</a>
        <a href="#" class="footer-links">أكتشف التخصصات</a>
        <a href="#" class="footer-links">قائمة الصنايعية</a>
      </div>
      <div
        class="col d-flex flex-column justify-content-center gap-4 align-items-start"
      >
        <a href="#" class="footer-links">التقييمات</a>
        <a href="#" class="footer-links">عن الموقع</a>
      </div>
      <div
        class="col d-flex flex-column justify-content-center gap-4 align-items-start"
      >
        <a href="#" class="footer-links">الأسألة الشائعة</a>
        <a href="#" class="footer-links">من نحن ؟</a>
        <a href="#" class="footer-links">أتصل بنا</a>
      </div>
    </div>
  </div>
</footer>
<div class="copy-right">
  <p class="py-2 text-center">جميع الحقوق المحفوظة &copy; 2024</p>
</div>
